.accesos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botonAdmin {
    height: 60px;
    width: 230px;
}

.contAddUser {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.w3-table td {
    vertical-align: unset!important;
}

.botonReportes {
    width: 100%;
    height: 60px;
    padding: 18px 0px;
}