.botonSuscribirse{
    width: 80%!important;
}

.catalogo img{
    width: 80%!important;
    height: 25rem;
}

.contenido{
    width: 100%!important;
}

.lector img{
    width: 100%!important;
    height: 20rem;
}