html body {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 164px;     /* Footer height */
}

#footer {
    position: absolute!important;
    bottom: 0;
    width: 100%;
    height: 164px;            /* Footer height */
}

.w3-sidebar {
    position: absolute!important;
}