<h1>Reportes</h1>
<div class="w3-cell-row" style="margin: 50px 0px;">
    <div class="w3-container w3-cell w3-mobile">
        <a href="/admin/getPdfContenidistas" class="w3-button w3-teal botonReportes">Contenidistas</a>
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <a href="/admin/getPdfClientes" class="w3-button w3-indigo botonReportes">Clientes</a>
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <a href="/admin/getPdfProductos" class="w3-button w3-amber botonReportes">Productos</a>
    </div>
</div>