<body onload="loadCharts()">
<h1>Reportes</h1>
<div class="contBotonReporte">
    <div class="">
        <a href="/admin/getPdfContenidistas" class="w3-button w3-teal botonReportes">Contenidistas</a>
    </div>
    <div class="">
        <a href="/admin/getPdfClientes" class="w3-button w3-indigo botonReportes">Clientes</a>
    </div>
    <div class="">
        <a href="/admin/getPdfProductos" class="w3-button w3-amber botonReportes">Productos</a>
    </div>

</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div id="piechart_div"></div>
            <div id="barchart_div"></div>
        </div>
    </div>
</div>

