{{^detalleContenido}}
    <div>
        <h1 class="w3-container titulo w3-center">Contenidos</h1>
    </div>

    <table class='w3-table w3-striped w3-hoverable'>
        <thead>
        <tr class="w3-light-grey">
            <th>Id</th>
            <th>Titulo</th>
            <th>Subtitulo</th>
            <th>Estado</th>
            <th>Edicion</th>
            <th>Seccion</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        {{#listaContenidos}}
            <tr>
                <td>{{id}}</td>
                <td>{{titulo}}</td>
                <td>{{subtitulo}}</td>
                <td>{{estado}}</td>
                <td>{{edicion}}</td>
                <td>{{seccion}}</td>
                <td><img src="/public/images/{{imagen}}" width="80" height="60"></td>
                <td>
                    <a href="/admin/detalleContenido?id={{id}}" class="w3-button w3-black w3-round-large w3-tiny w3-hover-teal" style="margin: 8px 0px">Ver contenido</a>
                    <a href="/admin/bajaContenido?id={{id}}" class="w3-button w3-black w3-round-large w3-tiny w3-hover-teal estado-3" style="margin: 8px 0px">A revisión</a>
                </td>
            </tr>
        {{/listaContenidos}}
    </table>
{{/detalleContenido}}

{{#detalleContenido}}
    <h1>Contenido N° {{id}}</h1>
        <div>
        <h1 class="contenidista-form-titulo">{{edicion}}</h1>
        <p class="contenidista-form-label">{{seccion}}</p>
        </div>

         <h2 class="noticia-titulo">{{titulo}}</h2>
         <h3 class="noticia-subtitulo">{{subtitulo}}</h3>

            <!--imagenes-->
            <body onload="currentSlide(1), loadMapNoticia({{latitud}}, {{longitud}})">
            <div class="slideshow-container">

              <div class="mySlides fade">
                <img src="/public/images/{{imagen1}}" style="height: 400px; width: 100%;">
              </div>

              {{#imagen2}}
              <div class="mySlides fade">
                <img src="/public/images/{{imagen2}}" style="height: 400px; width: 100%;">
              </div>
              {{/imagen2}}

              {{#imagen3}}
              <div class="mySlides fade">
                <img src="/public/images/{{imagen3}}" style="height: 400px; width: 100%;">
              </div>
              {{/imagen3}}

              {{#imagen2}}
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
              {{/imagen2}}
            </div>

            {{#audio}}
            <div style="text-align: center; margin-top: 1em;">
                <audio controls>
                    <source src="/public/multimedia/{{audio}}" type="audio/mp3">
                </audio>
            </div>
            {{/audio}}

            <div class ="w3-left-align">
                <p class="noticia-contenido" id="contenido">{{{contenido}}}</p>
            </div>

            <div id="mapa" style="width:100%; height:300px;"></div>

            {{#url}}
            <div><iframe width="100%" height="500px" src="{{url}}"</iframe></div>
            {{/url}}

{{/detalleContenido}}