{{^editorUser}}
    <div class="contAddUser">
        <h1>Usuarios</h1>
        <a href="/admin/formUsuario" class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-teal" style="z-index:0">+</a>
    </div>

    <table class='w3-table w3-striped w3-hoverable'>
        <thead>
        <tr class="w3-light-grey">
            <th>Id</th>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Estado</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {{#listadoUsuarios}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{mail}}</td>
                <td>{{latitud}}</td>
                <td>{{longitud}}</td>
                <td>{{estado}}</td>
                <td>{{role}}</td>
                <td><a href="/admin/editorUsuario?id={{id}}"/><i class="fa fa-pencil w3-large" aria-hidden="true"></i></td>
                <td><a href="/admin/deleteUsuario?id={{id}}"/><i class="fa fa-trash w3-large" aria-hidden="true"></i></td>
            </tr>
        {{/listadoUsuarios}}
    </table>
{{/editorUser}}

<!--Seccion de edicion-->
{{#editorUser}}
    <h1>Editar usuario</h1>
    <form action="/admin/editUsuario"  method="post">
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:500px" id="band">
            <input style="display: none" type="text" name="id" value="{{id}}">
            <input style="display: none" type="text" id="estadoOrig" name="estadoOrig" value="{{estado}}">
            <input style="display: none" name="role" value="{{role}}" type="number">

            <div>
                <label for="name">Nombre: </label>
                <input class="w3-input w3-light-grey" id="name" type="text" name="name" value="{{name}}" required>
            </div>

            <div>
                <label for="username">Email: </label>
                <input class="w3-input w3-light-grey" type="email" name="mail" value="{{email}}" required>
            </div>

            <div>
                <label for="latitud">Latitud: </label>
                <input class="w3-input w3-light-grey" id="latitud" type="text" name="latitud" value="{{latitud}}" required>
            </div>

            <div>
                <label for="longitud">Longitud: </label>
                <input class="w3-input w3-light-grey" id="longitud" type="text" name="longitud" value="{{longitud}}" required>
            </div>

            <div>
                <label for="roleEdit">Role</label>
                <select class="w3-input w3-light-grey" name="roleEdit" id="roles">
                    <option value="" disabled selected>Cambiar rol</option>
                </select>
            </div>

            <div>
                <p>
                    <label>Activo</label>
                    <input class="w3-radio" type="radio" id="radioEstado1" name="estado" value="1">
                    <label>Inactivo</label>
                    <input class="w3-radio" type="radio" id="radioEstado0" name="estado" value="0">
                </p>
            </div>

            <button class="w3-button w3-black w3-margin-top" type="submit">Editar</button>

        </div>
    </form>
{{/editorUser}}
<!--Seccion de edicion-->

{{#error}}
    <b>{{error}}</b>
{{/error}}

<script>
    $(document).ready(function() {
        setEstadoRadio();
        muestraRoles();
    });

    function muestraRoles() {
        $.ajax({
            url:   '/admin/loadRoles',
            type:  'get',
            success:  function (response) {
                // console.log(response);
                $("#roles").append(response);
            }
        });
    }

    function setEstadoRadio(){
        let estadoOrig = document.getElementById("estadoOrig").value;

        if(estadoOrig == "1"){
            document.getElementById("radioEstado1").checked = true;
        } else {
            document.getElementById("radioEstado0").checked = true;
        }

    }
</script>