<div class="w3-margin-top">
    <h1 class="w3-container w3-red">{{#nombre}}{{nombre}}{{/nombre}}</h1>
    <h2>Ediciones</h2>
</div>

    {{#listaEdiciones}}
        <a href="edicion?id={{id}}" class="w3-bar-item w3-button w3-mobile" style="width: 100%;">{{edicion}}</a>
    {{/listaEdiciones}}



