<div class="w3-margin-top">
    <h1 class="w3-container w3-red w3-center">{{#nombre}}{{edicion}}{{/nombre}}</h1>
    <h2>Secciones</h2>
</div>

    {{#listaSecciones}}
        <a href="seccion?id={{id}}" class="w3-bar-item w3-button w3-mobile" style="width: 100%;">{{descripcion}}</a>
    {{/listaSecciones}}






