<div class="w3-container w3-content  w3-padding-64" style="max-width:800px" id="band">
    {{#contenido}}
        <img class ="w3-left"src="/images/{{imagen}}" width="400" height="400">
        <div class ="w3-left w3-margin-left">
            <h1 >{{titulo}}</h1>
            <h3 >{{subtitulo}}</h3>
            <p >{{contenido}}</p>
        </div>
    {{/contenido}}
</div>

