<div class="w3-margin-top">
    <h2>Productos</h2>
</div>

    {{#listaProductos}}
        <a href="producto?id={{id}}" class="w3-bar-item w3-button w3-mobile" style="width: 100%;">{{nombre}}</a>
    {{/listaProductos}}

