<div class="contAddUser">
    <h1>Mis noticias</h1>
</div>
<table class='w3-table w3-striped w3-hoverable'>
    <thead>
    <tr class="w3-light-grey">
        <th>Id</th>
        <th>Titulo</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    {{#listaNoticias}}
        <tr>
            <td>{{id}}</td>
            <td>{{titulo}}</td>
            <td>{{estado}}</td>
            <td><a href="../contenido?id={{id}}" class="w3-button w3-right w3-teal">Ver noticia</a></td>
        </tr>
    {{/listaNoticias}}
</table>