<div class="contAddUser">
    <h1>Contenidos sin publicar</h1>
</div>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Id</th>
        <th>Titulo</th>
        <th>Subtítulo</th>
        <th>Contenido</th>
        <th>Imagen</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    {{#listaContenidosPendientes}}
        <tr>
            <td>{{id}}</td>
            <td>{{titulo}}</td>
            <td>{{subtitulo}}</td>
            <td>{{contenido}}...</td>
            <td><img src="../public/images/{{imagen}}" width="200" height="100"/></td>
            <td>{{descripcion}}</td>
            <td><a href="../contenidoedit?id={{id}}" class="w3-button w3-black w3-round-large">Ver contenido</a></td>
        </tr>
    {{/listaContenidosPendientes}}
</table>