<div class="w3-container w3-padding-32" style="display: flex;" id="band">
    <div style="padding: 0em 3em;">
     <h1>Editar Noticia</h1>
    <form action="/contenidista/procesarEditarNoticia"  method="post" enctype="multipart/form-data">
    {{#datosNoticia}}
        <div>
            <label for="edicion">Escoge la edicion:</label>
            <select name="edicion" onchange="muestraSeccionesPorEdicion(this.value)" class="w3-input w3-light-grey w3-margin-top">
              {{#listaEdiciones}}
              <option value="{{id}}">{{edicion}}</option>
              {{/listaEdiciones}}
            </select>
        </div>
        <div id="seccionesPorEdicion" class="w3-margin-top">
        </div>
        <div class="w3-margin-top">
            <label for="titulo">Título:</label>
            <input class="w3-input w3-light-grey w3-margin-top" type="text" name="titulo" value="{{titulo}}">
        </div>
        <div class="w3-margin-top">
            <label for="subtitulo">Subtítulo:</label>
            <input class="w3-input w3-light-grey w3-margin-top" type="text" name="subtitulo" value="{{subtitulo}}">
        </div>
        <div class="w3-margin-top">
            <label for="contenido">Contenido:</label>
            <textarea class="w3-input w3-light-grey w3-margin-top" rows="4" cols="50" name="contenido">{{contenido}}</textarea>
        </div>
        <div class="w3-margin-top">
             <label for="ubicacion">Click derecho en la ubicacion de la noticia: </label>
             <div id="mapa" style="width:470px; height:400px;" class="w3-margin-top"></div>
             <label for="latitud" class="w3-margin-top">Latitud:</label>
             <input type="text" class="w3-input w3-light-grey w3-margin-top" id="latitud" name="latitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$" value="{{latitud}}">
             <label  for="longitud" class="w3-margin-top">Longitud:</label>
             <input type="text"  class="w3-input w3-light-grey w3-margin-top" id="longitud" name="longitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$" value="{{longitud}}">
        </div>
        </div>
    {{/datosNoticia}}
       <div style="width: 50%; padding: 0em 4em; height: 700px;" class="w3-card-4 w3-light-grey">
        <h2>Multimedia</h2>
        <div  class="w3-margin-top">
                <label for="audio">Graba un audio para la nota:</label>
                <select name="listaDeDispositivos" id="listaDeDispositivos" class="w3-margin-top"></select>
                <p id="duracion"></p>
                <a id="btnComenzarGrabacion" class="w3-button w3-yellow">Comenzar</a>
                <a id="btnDetenerGrabacion" class="w3-button w3-red">Detener</a>
        </div>
        <div class="w3-margin-top">
            <label for="url">Enlace a mas información o video</label>
            <input type="url" name="url" id="url" class="w3-margin-top"
               placeholder="https://example.com"
               pattern="https://.*" size="45">
        </div>
        <div class="w3-margin-top">
            <label for="imagen1">Imagen principal:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen1">
        </div>
        <div class="w3-margin-top">
            <label for="imagen2">Segunda Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen2">
        </div>
        <div class="w3-margin-top">
            <label for="imagen3">Tercera Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen3">
        </div>
        <div class="w3-margin-top">
        </div>
        <button class="w3-button w3-black w3-margin-top" type="submit">Enviar</button>
    </form>
    </div>
</div>