<h1>Reportes</h1>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Reporte N°</th>
        <th>Contenido N°</th>
        <th>Contenidista</th>
        <th>Comentarios</th>
        <th>Estado</th>
        <th>Fecha</th>
    </tr>
    </thead>
    {{#listaContenidosReportes}}
        <tr>
            <td>{{reporte}}</td>
            <td>{{contenido}}</td>}
            <td>{{mail}}</td>
            <td>{{comentarios}}</td>
            <td>{{estado}}</td>
            <td>{{fecha}}</td>
        </tr>
    {{/listaContenidosReportes}}
</table>