<h1 class="w3-container titulo w3-center">Contenidos a verificar</h1>

<table class='w3-table w3-hoverable w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Id</th>
        <th>Titulo</th>
        <!--
        <th>Subtítulo</th>
        <th>Contenido</th>
        <th>Imagen</th>
        -->
        <th>Estado</th>
        <th>Contenidista</th>
        <th>Comentarios</th>
        <th>Acciones</th>
    </tr>
    </thead>
    {{#listaContenidosVerificar}}
        <tr>
            <td>{{id}}</td>
            <td>{{titulo}}</td>
            <!--
            <td>{{subtitulo}}...</td>
            <td>{{{contenido}}}...</td>
            <td><img src="../public/images/{{imagen}}" width="200" height="100"/></td>
            -->
            <td>{{descripcion}}</td>
            <td>{{contenidista}}</td>
            <td>{{comentarios}}</td>
            <td><a href="../contenidoedit?id={{id}}" class="w3-button w3-black w3-round-large w3-hover-teal">Ver contenido</td></a>
        </tr>
    {{/listaContenidosVerificar}}
</table>