<div class="w3-content w3-padding-64 contenidista-form-container">

    <h1 class="contenidista-form-titulo">Nuevo Producto</h1>

    <form action="/contenidista/procesarProducto"  method="POST" enctype="multipart/form-data">
        <div class="contenidista-form-div">
            <label for="nombre" class="contenidista-form-label">Nombre</label>
            <input class="w3-input w3-margin-top contenidista-form-input" type="text" name="nombre">
        </div>
        <div class="contenidista-form-div">
            <label for="portada" class="contenidista-form-label">Portada</label>
            <input class="w3-input w3-center w3-margin-top contenidista-form-file" type="file" name="portada">
        </div>
        <div class="contenidista-form-div">
            <label for="tipo" class="contenidista-form-label">Tipo</label>
            <select name="tipo" class="w3-input w3-margin-top contenidista-form-select">
              {{#tipos}}
              <option value="{{id}}">{{descripcion}}</option>
              {{/tipos}}
            </select>
        </div>
        <div class="contenidista-form-div">
            <label for="precio" class="contenidista-form-label">Precio suscripción</label>
            <input class="w3-input w3-margin-top w3-center contenidista-form-input" style="width: 50%;" type="number" name="precio">
        </div>
        <button class="w3-button w3-black w3-margin-top contenidista-form-boton" type="submit">Enviar</button>
    </form>

    {{#exito}}
        <div class="w3-panel w3-pale-green w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid green; width: 70%;">
            <p class="w3-text-green">{{exito}}</p>
        </div>
    {{/exito}}

    {{#error}}
        <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
            <p class="w3-text-red">{{error}}</p>
        </div>
    {{/error}}
</div>