<div class="w3-container w3-padding-32" style="display: flex;">

    <div style="padding: 0em 3em;">
        {{#error}}
            <div class="w3-panel w3-pale-red w3-border w3-round w3-animate-bottom w3-display-bottommiddle">
                <p class="w3-text-red">{{error}}</p>
            </div>
        {{/error}}

     <h1 class="contenidista-form-titulo">Nueva Publicacion</h1>

    <form action="/contenidista/procesarNoticia"  method="post" enctype="multipart/form-data">
        <div class="contenidista-form-div">
            <label for="edicion" class="contenidista-form-label">Escoge la edicion:</label>
            <select name="edicion" onchange="muestraSeccionesPorEdicion(this.value)" class="w3-input w3-margin-top contenidista-form-select">
              {{#listaEdiciones}}
              <option value="{{id}}">{{edicion}}</option>
              {{/listaEdiciones}}
            </select>
        </div>
        <div id="seccionesPorEdicion" class="contenidista-form-div">
        </div>
        <div class="contenidista-form-div">
            <label for="titulo" class="contenidista-form-label">Título:</label>
            <input class="w3-input w3-margin-top contenidista-form-input" type="text" name="titulo">
        </div>
        <div class="contenidista-form-div">
            <label for="subtitulo" class="contenidista-form-label">Subtítulo:</label>
            <input class="w3-input w3-margin-top contenidista-form-input" type="text" name="subtitulo">
        </div>
        <div class="contenidista-form-div">
            <label for="contenido" class="contenidista-form-label">Contenido:</label>
            <textarea class="w3-input w3-margin-top contenidista-form-input" rows="4" cols="50" name="contenido"></textarea>
        </div>
        <div class="contenidista-form-div">
             <label for="ubicacion" class="contenidista-form-label">Click derecho en el mapa</label>
             <div id="mapa" style="width:470px; height:400px;" class="w3-margin-top"></div>
             <label for="latitud">Latitud:</label>
             <input type="text" class="w3-input w3-light-grey w3-margin-top" id="latitud" name="latitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$">
             <label  for="longitud">Longitud:</label>
             <input type="text"  class="w3-input w3-light-grey w3-margin-top" id="longitud" name="longitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$">
        </div>
        </div>
       <div class="contenidista-form-multimedia w3-light-grey">
        <h2>Multimedia</h2>
        <div class="w3-margin-top">
                <label for="audio">Graba un audio para la nota:</label>
                <select name="listaDeDispositivos" id="listaDeDispositivos" class="w3-margin-top"></select>
                <p id="duracion"></p>
                <a id="btnComenzarGrabacion" class="w3-button w3-yellow">Comenzar</a>
                <a id="btnDetenerGrabacion" class="w3-button w3-red">Detener</a>
        </div>
        <div class="w3-margin-top">
            <label for="audio">Inserte el audio:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" accept=".mp3,audio/*" name="audio">
        </div>
        <div class="w3-margin-top">
            <label for="url">Enlace a mas información o video</label>
            <input type="url" name="url" id="url" class="w3-margin-top"
               placeholder="https://example.com"
               pattern="https://.*" size="45">
        </div>
        <div class="w3-margin-top">
            <label for="imagen1">Imagen Principal:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen1">
        </div>
        <div class="w3-margin-top">
            <label for="imagen2">Segunda Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen2">
        </div>
        <div class="w3-margin-top">
            <label for="imagen3">Tercera Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen3">
        </div>
        <div class="w3-margin-top">
        </div>
        <button class="w3-button w3-black w3-margin-top" type="submit">Enviar</button>
    </form>
    </div>
</div>