<div class="w3-container w3-padding-32" style="display: flex;">

    <div style="width: 60%; padding: 0em 3em;">
        {{#error}}
            <div class="w3-panel w3-pale-red w3-border w3-round w3-animate-bottom w3-display-bottommiddle">
                <p class="w3-text-red">{{error}}</p>
            </div>
        {{/error}}

        <h1 class="contenidista-form-titulo">Nueva Publicacion</h1>

        <form action="/contenidista/procesarNoticia"  method="post" enctype="multipart/form-data">
            <div style="display: flex; justify-content: space-evenly;">
                <div class="contenidista-form-div-m1">
                    <label for="edicion" class="contenidista-form-label">Edicion:</label>
                    <select name="edicion" onchange="muestraSeccionesPorEdicion(this.value)" class="w3-input w3-margin-top contenidista-form-select" style="width: 90%;">
                    <option value="0">Seleccione una edición</option>
                    {{#listaEdiciones}}
                    <option value="{{id}}">{{edicion}}</option>
                    {{/listaEdiciones}}
                    </select>
                </div>

                <div id="seccionesPorEdicion" class="contenidista-form-div-m1">
                    <label for="seccion" class="contenidista-form-label">Seccion:</label>
                    <select name="seccion" class="w3-input w3-margin-top contenidista-form-select" style="width: 90%;">
                    <option value="0">Seleccione una sección</option>
                    </select>
                </div>
            </div>

            <div class="contenidista-form-div-m1">
                <label for="titulo" class="contenidista-form-label">Título:</label>
                <input class="w3-input w3-margin-top contenidista-form-input" style="width: 60%;" type="text" name="titulo">
            </div>

            <div class="contenidista-form-div-m1">
                <label for="subtitulo" class="contenidista-form-label">Subtítulo:</label>
                <input class="w3-input w3-margin-top contenidista-form-input" style="width: 60%;" type="text" name="subtitulo">
            </div>

            <div class="contenidista-form-div-m1">
                <div style="margin-bottom: 2em;"><label for="contenido" class="contenidista-form-label">Contenido:</label> </div>
                <textarea class="w3-input w3-margin-top contenidista-form-input" rows="4" cols="50" name="contenido"></textarea>
            </div>
    </div>

    <div class="contenidista-form-multimedia w3-light-grey">

        <h2>Multimedia</h2>

        <div class="w3-margin-top">
            <label for="audio" class="contenidista-multimedia-label">Graba un audio para la nota:</label>
            <select name="listaDeDispositivos" id="listaDeDispositivos" class="w3-margin-top"></select>
            <p id="duracion"></p>
            <a id="btnComenzarGrabacion" class="w3-button w3-blue" style="border-radius: 5px;">Comenzar</a>
            <a id="btnDetenerGrabacion" class="w3-button w3-red" style="border-radius: 5px;">Detener</a>
        </div>

        <div class="w3-margin-top">
            <label for="audio" class="contenidista-multimedia-label">Inserte un audio:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" accept=".mp3,audio/*" name="audio">
        </div>

        <div class="w3-margin-top">
            <label for="url" class="contenidista-multimedia-label">Enlace a mas información o video</label>
            <input type="url" name="url" id="url" class="w3-margin-top"
               placeholder="https://example.com"
               pattern="https://.*" size="45">
        </div>

        <div class="w3-margin-top">
            <label for="imagen1" class="contenidista-multimedia-label">Imagen Principal:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen1">
        </div>

        <div class="w3-margin-top">
            <label for="imagen2" class="contenidista-multimedia-label">Segunda Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen2">
        </div>

        <div class="w3-margin-top">
            <label for="imagen3" class="contenidista-multimedia-label">Tercera Imagen:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="imagen3">
        </div>

    </div>
</div>

        <div class="contenidista-form-div">
            <h2 class="contenidista-form-titulo">Ubicacion</h2>
            <label for="ubicacion" class="contenidista-form-label">Click derecho en el mapa</label>
            <div id="mapa" style="width:100%; height:400px;" class="w3-margin-top"></div>
            <div style="display:flex; margin: 1em 0em;">
                <label for="latitud"  class="contenidista-form-label" style="padding: 10px 80px;">Latitud:</label>
                <input type="text" class="w3-input w3-light-grey w3-margin-top" style="width: 30%; margin: auto; text-align: center;" id="latitud" name="latitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$">
                <label for="longitud"  class="contenidista-form-label" style="padding: 10px 80px;">Longitud:</label>
                <input type="text"  class="w3-input w3-light-grey w3-margin-top" style="width: 30%; margin: auto; text-align: center;" id="longitud" name="longitud"
                pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$">
            </div>
        </div>

        <button class="w3-button w3-black w3-margin-top" style="border-radius: 50px; width: 20%;" type="submit">Enviar</button>

        </form>
    </div>
</div>