<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:500px" id="band">

    <h1>Nuevo Producto</h1>

    <form action="/contenidista/procesarProducto"  method="POST" enctype="multipart/form-data">
        <div>
            <label for="nombre">Nombre:</label>
            <input class="w3-input w3-light-grey w3-margin-top" type="text" name="nombre">
        </div>
        <div class="w3-margin-top">
            <label for="portada">Portada:</label>
            <input class="w3-input w3-center w3-margin-top" type="file" name="portada">
        </div>
        <div class="w3-margin-top">
            <label for="tipo">Tipo:</label>
            <select name="tipo" class="w3-input w3-light-grey w3-margin-top">
              {{#tipos}}
              <option value="{{id}}">{{descripcion}}</option>
              {{/tipos}}
            </select>
        </div>
        <button class="w3-button w3-black w3-margin-top" type="submit">Enviar</button>
    </form>

    {{#error}}
        <div class="w3-panel w3-pale-red w3-border w3-round w3-animate-bottom w3-display-bottommiddle" style='width: 50%;'>
            <p class="w3-text-red">{{error}}</p>
        </div>
    {{/error}}
</div>