<h1>Agregar nuevo usuario</h1>
<form action="/admin/altaUsuario"  method="post">
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:500px" id="band">

        <div>
            <label for="name">Nombre: </label>
            <input class="w3-input w3-light-grey" id="name" type="text" name="name" required>
        </div>

        <div>
            <label for="username">Email: </label>
            <input class="w3-input w3-light-grey" id="username" type="email" name="email" required>
        </div>

        <div>
            <label for="password">Password: </label>
            <input class="w3-input w3-light-grey" id="password" type="password" name="password" required>
        </div>

        <div>
            <label for="ubicacion">Coordenadas de su ubicación: </label>
            <input class="w3-input w3-light-grey" id="ubicacion" type="ubicacion" name="ubicacion" required>
        </div>

        <div>
            <label for="role">Role</label>
            <select class="w3-select w3-light-grey" name="role" id="roles" required>
                <option value="" disabled selected>Elegir role</option>
            </select>
        </div>

        <button class="w3-button w3-black w3-margin-top" type="submit">Enviar</button>

        {{#error}}
            <p>{{error}}</p>
        {{/error}}


</div>
</form>

<script>
    $(document).ready(function() {
        muestraRoles()
    });

    function muestraRoles() {
        $.ajax({
            url:   '/admin/loadRoles',
            type:  'get',
            success:  function (response) {
                // console.log(response);
                $("#roles").append(response);
            }
        });
    }
</script>