<div class="w3-margin-top">
    <h1 class="w3-container w3-teal">{{#producto}}{{nombre}}{{/producto}}</h1>
    <h2 class="w3-black">Ediciones</h2>
</div>

<div style="overflow-x:auto;">
    <table class='w3-table w3-display-middle'>
        {{#listaEdiciones}}
            <td>
                <a class="w3-center" href="edicion?id={{id}}&ids=null">
                <ul class="w3-ul"><img src="/public/images/{{portada}}" width="300" height="400"></ul>
                <ul class="w3-ul w3-padding-top-24">{{edicion}}</ul>
                </a>
                <ul class="w3-ul w3-center">
                <form action="/infonete/comprarEdicion" method="post">
                    <input type="hidden" id="id_edicion" name="id_edicion" value="{{id}}">
                    <button class="w3-button w3-black w3-margin-top" type="submit">Comprar</button>
                </form>
                </ul>
            </td>
        {{/listaEdiciones}}
    </table>
</div>