<div class="w3-margin-top">
    <h1 class="w3-container titulo">{{#producto}}{{nombre}}{{/producto}}</h1>
    <h2 class="w3-black titulo2">Ediciones</h2>
</div>

<div style="overflow-x:auto;">
    <div class="w3-row catalogo">
        {{#listaEdiciones}}
            <div class="w3-col m4 l3 w3-hover-grayscale w3-padding">
                <a class="w3-center" href="edicion?id={{id}}&ids=null">
                <ul class="w3-ul"><img src="/public/images/{{portada}}"></ul>
                </a>
                {{#usuario}}
                <ul class="w3-ul w3-center">
                    <form action="/infonete/comprarEdicion" method="post">
                        <input type="hidden" id="id_edicion" name="id_edicion" value="{{id}}">
                        <button class="w3-button w3-black botonSuscribirse" type="submit">Comprar</button>
                        {{!<ul class="w3-ul w3-center w3-margin-top">
                         <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                                 data-preference-id="<?php echo $preference->id; ?>"></script>
                         </ul>}}
                    </form>
                </ul>
                {{/usuario}}
            </div>
        {{/listaEdiciones}}
    </div>
</div>