<h1 class="w3-container titulo w3-center">Mis pagos</h1>
<h2 class="w3-black titulo2">Suscripciones</h2>

<table class='w3-table-all w3-hoverable'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Producto</th>
        <th>Fecha de compra</th>
        <th>Fecha de vencimiento</th>
        <th>Monto</th>
    </tr>
    </thead>
    {{#listaSuscripciones}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{fechaAdquirido}}</td>
            <td>{{fechaVencimiento}}</td>
            <td>{{precio}}</td>
        </tr>
    {{/listaSuscripciones}}
</table>

<div class="w3-center-align w3-padding-24">
    <form action="/lector/getPdfSuscripciones" method="get">
        <label for="fechaInicio">Desde:</label>
        <input type="date" id="fechaInicio" name="fechaInicio">
        <label for="fechaFin">Hasta:</label>
        <input type="date" id="fechaFin" name="fechaFin">
        <br>
        <button class="w3-button w3-black w3-margin-top w3-round" type="submit">Imprimir</button>
    </form>
</div>

{{#errorSuscripciones}}
    <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
        <p class="w3-text-red">{{errorSuscripciones}}</p>
    </div>
{{/errorSuscripciones}}

<h2 class="w3-black titulo2">Compras</h2>

<table class='w3-table-all w3-hoverable'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Producto</th>
        <th>Edicion</th>
        <th>Fecha de compra</th>
        <th>Monto</th>
    </tr>
    </thead>
    {{#listaCompras}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{edicion}}</td>
            <td>{{fecha}}</td>
            <td>{{precio}}</td>
        </tr>
    {{/listaCompras}}
</table>

<div class="w3-center-align w3-padding-24">
    <form action="/lector/getPdfCompras" method="get">
        <label for="fechaInicio">Desde:</label>
        <input type="date" id="fechaInicio" name="fechaInicio">
        <label for="fechaFin">Hasta:</label>
        <input type="date" id="fechaFin" name="fechaFin">
        <br>
        <button class="w3-button w3-black w3-margin-top w3-round" type="submit">Imprimir</button>
    </form>
</div>

{{#errorCompras}}
    <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
        <p class="w3-text-red">{{errorCompras}}</p>
    </div>
{{/errorCompras}}



