<div class="contAddUser">
    <h1>Productos suscrito</h1>
</div>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Numero</th>
        <th>Nombre</th>
        <th></th>
    </tr>
    </thead>
    {{#listaProductosSuscrito}}

        <tr>
            <td>{{id}}</td>
            <td>{{nombre}} </td>
            <td><a class ="w3-button w3-black w3-small"href="/infonete/producto?id={{id}}">Ver</td></a>
        </tr>

    {{/listaProductosSuscrito}}
</table>