<div class="contAddUser">
    <h1>Ediciones compradas</h1>
</div>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Producto</th>
        <th>Numero edicion</th>
        <th>Portada</th>
    </tr>
    </thead>
    {{#listaCompras}}
        <tr>
            <td>{{producto}}</td>
            <td>{{edicion}}</td>
            <td>{{portada}}</td>
        </tr>
    {{/listaCompras}}

</table>