<div class="w3-margin-top">
    <h1 class="w3-container titulo">{{#producto}}{{nombre}}{{/producto}}</h1>
    <h2 class="w3-black titulo2">Ediciones</h2>
</div>

<div style="overflow-x:auto;">
    <div class="w3-row lector">
        {{#listaEdiciones}}
            <div class="w3-col m4 l3 w3-hover-grayscale w3-padding">
                <a class="w3-center" href="http://localhost/infonete/edicion?id={{id}}&ids=null">
                <ul class="w3-ul"><img src="/public/images/{{portada}}"></ul>
                </a>
            </div>
        {{/listaEdiciones}}
    </div>
</div>