<div class="contAddUser">
    <h1>Suscripciones</h1>
</div>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Producto</th>
        <th>Fecha adquirido</th>
        <th>Fecha vencimiento</th>
    </tr>
    </thead>
    {{#listaSuscripciones}}
        <tr>
            <td>{{producto_id}}</td>
            <td>{{fechaAdquirido}}</td>
            <td>{{fechaVencimiento}}</td>
        </tr>
    {{/listaSuscripciones}}
</table>


    <div class="w3-left-align ">

        <form action="/lector/getPdfSuscripciones" method="get">
        <label for="fechaInicio">Desde:</label>
        <input type="datetime-local" id="fechaInicio" name="fechaInicio">
        <label for="fechaFin">Hasta:</label>
        <input type="datetime-local" id="fechaFin" name="fechaFin">
        <br>
        <button class="w3-button w3-black w3-margin-top" type="submit">Imprimir</button>

        </form>
    </div>
