<div class="contAddUser">
    <h1>Suscripciones</h1>
</div>

<table class='w3-table w3-striped'>
    <thead>
    <tr class="w3-dark-grey">
        <th>Producto</th>
        <th>Fecha adquirido</th>
        <th>Fecha vencimiento</th>
    </tr>
    </thead>
    {{#listaSuscripciones}}
        <tr>
            <td>{{producto_id}}</td>
            <td>{{fechaAdquirido}}</td>
            <td>{{fechaVencimiento}}</td>
        </tr>
    {{/listaSuscripciones}}
</table>

<div class="contAddUser w3-padding-top-64">
    <h1>Reportes</h1>
</div>

    <div class="w3-left-align ">
        <a href="/lector/getPdfSuscripciones" class="w3-button w3-teal">Suscripciones</a>
    </div>
