{{> header}}

    <div class="w3-container w3-content  w3-padding-64" style="max-width:1000px" id="band">
        <div>
            {{#contenidoEdit}}
               <h1>Contenido N° {{id}}</h1>

               <form action="contenidoedit/alta">
                   <input id="id" name="id" type="hidden" value="{{id}}">
                   <input id="id" name="contenidista" type="hidden" value="{{c_id}}">

                    <div class="editor-contenido-titulo">Título</div>
                    <div class="editor-contenido-texto">{{titulo}}</div>


                    <div class="editor-contenido-titulo">Subtítulo</div>
                     <div class="editor-contenido-texto">{{subtitulo}}</div>

                     <div class="editor-contenido-titulo">Contenido</div>
                     <div class="editor-contenido-texto">{{contenido}}</div>

                     <div class="editor-contenido-titulo">Imagen</div>
                     <div class="editor-contenido-img"><img src="../public/images/{{imagen}}" height="300"/></div>

                     <div class="editor-contenido-titulo">Contenidista</div>
                     <div class="editor-contenido-texto">{{contenidista}}</div>

                     <hr>

                    <div class="editor-contenido-titulo">Edición de contenido</div>
                    <div class="editor-contenido-edicion">
                       <table class="w3-table">
                                 <tr>
                                    <th><div>Estado</div></th>
                                    <td><div>
                                        <select name="estado" id="estado">
                                            {{#tipos}}
                                                <option value="{{id}}">{{descripcion}}</option>
                                            {{/tipos}}

                                        </select></div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <th><div>Comentarios</div></th>
                                        <td>
                                            <div><textarea name="comentario" rows="7" cols="50">
                                                {{#reportesEdit}}
                                                    {{comentarios}}
                                                {{/reportesEdit}}
                                            </textarea></div>
                                        </td>
                                 </tr>
                       </table>
                   </div>
                   <div class="editor-contenido-botones">
                                           <button class="btn boton-enviar" type="submit">Enviar</button>
                                           <a class="btn boton-cancelar" href="/editor/misContenidos"> Cancelar </a>
                   </div>

               </form>
            {{/contenidoEdit}}
        </div>

   </div>
{{> footer}}