{{> header}}

<div class="report-container clima w3-row">

        {{#clima}}
        <h6>{{name}}</h6>
        <div class="w3-col m4 time">
            <div>{{date1}}</div>
            <div>{{date2}}</div>
            <div>{{description}}</div>
        </div>
        <div class="w3-col m4 weather-forecast">
            <img src="http://openweathermap.org/img/w/{{icon}}.png" class="weather-icon" />
            <span class="max-temperature">{{tempmax}}°C</span>
            <span class="min-temperature">{{tempmin}}°C</span>
        </div>
        <div class="w3-col m4 time">
            <div>Humidity: {{humedad}}%</div>
            <div>Wind: {{speed}} km/h</div>
        </div>
        {{/clima}}
</div>

<div class="w3-container w3-center" id="band">

    {{#exitoSuscripcion}}
        <div class="w3-panel w3-pale-green w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid green; width: 70%;">
            <p class="w3-text-green">{{exitoSuscripcion}}</p>
        </div>
    {{/exitoSuscripcion}}

    {{#errorSuscripcion}}
        <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
            <p class="w3-text-red">{{errorSuscripcion}}</p>
        </div>
    {{/errorSuscripcion}}

    {{#exitoCompra}}
        <div class="w3-panel w3-pale-green w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid green; width: 70%;">
            <p class="w3-text-green">{{exitoCompra}}</p>
        </div>
    {{/exitoCompra}}

    {{#errorCompra}}
        <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
            <p class="w3-text-red">{{errorCompra}}</p>
        </div>
    {{/errorCompra}}

    {{#errorUsuario}}
        <div class="w3-panel w3-pale-red w3-animate-bottom w3-display-bottommiddle" style="border: 1px solid red; width: 70%;">
            <p class="w3-text-red">{{errorUsuario}}</p>
        </div>
    {{/errorUsuario}}

        {{#productos}}
            {{>infoneteProductos}}
        {{/productos}}

        {{#ediciones}}
            {{>infoneteEdiciones}}
        {{/ediciones}}

        {{#edicion}}
            {{>infoneteEdicion}}
        {{/edicion}}

</div>
{{> footer}}