{{> header}}
<div class="w3-container w3-center w3-padding-64" id="band">

    <h1> InfoNete S.A.</h1>

    <h1>Noticias</h1>

    <div style="overflow-x:auto;">
        <table class='w3-table'>
            {{#contenido}}
                <td>
                    <a href="contenido?id={{id}}">
                    <ul>{{imagen}}</ul>
                    <ul>{{titulo}}</ul>
                    </a>
                </td>
            {{/contenido }}
        </table>
    </div>
</div>
</div>
{{> footer}}