{{> header}}
<body>
<div class="w3-container w3-content w3-padding-64" id="band">
    {{#datosNoticia}}
        <img class ="w3-left"src="/public/images/{{imagen1}}" width="1000" height="400">
        <div class ="w3-left w3-margin-left">
            <h1 >{{titulo}}</h1>
            <h3 >{{subtitulo}}</h3>
            <p >{{contenido}}</p>
        </div>
        <iframe width="700" height="350"
        src="{{url}}">
        </iframe>
    {{/datosNoticia}}
</div>
</body>
{{> footer}}
