{{> header}}
<body onload="loadMap()">

<div class="w3-container w3-content w3-center" style="max-width:500px ; height: 1100px" id="band">
    <h1>Registro</h1>
    <form action="/registro/procesarAlta"  method="post">
        <div>
            <label for="name">Nombre: </label>
            <input class="w3-input w3-light-grey" id="name" type="text" name="name" required>
        </div>

        <div>
          <label for="username">Email: </label>
          <input class="w3-input w3-light-grey" id="username" type="email" name="email" required>
        </div>

        <div>
          <label for="password">Password: </label>
          <input class="w3-input w3-light-grey" id="password" type="password" name="password" required>
        </div>
        <div>
            <label  for="ubicacion">Click derecho en tu ubicacion: </label>
            <div id="mapa" style="width:470px; height:400px;"></div>
            <label  for="latitud">Latitud: </label>
            <input type="text" class="w3-input w3-light-grey" id="latitud" name="latitud"
                   pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$" required>
            <label  for="longitud">Longitud: </label>
            <input type="text"  class="w3-input w3-light-grey" id="longitud" name="longitud"
                   pattern="^(-?\d+(\.\d+)?).\s*(-?\d+(\.\d+)?)$" required>

        </div>

        <button class="w3-button w3-black w3-margin-top" type="submit">Enviar</button>

        {{#error}}
          <p>{{error}}</p>
        {{/error}}

    </form>
</div>

{{> footer}}